@model decimal
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Звіт про сімейний бюджет</h1>
    <p>
        На даний момент ваш бюджет складає @Model
    </p>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Transaction" asp-action="Index">Всі транзакції</a>
        </li>
    </ul>
</div>